.experience-container {
  margin: 4rem 0;
  position: relative;
}

.experience-container h5 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
  color: #ffffff;
}

.experience-content {
  position: relative;
  padding: 0 2rem;
}

.arrow {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6751b9;
  border-radius: 50%;
  border: 2px solid #6751b9;
  background: #130f2a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: #6751b9;
  color: #fff;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}


@media (max-width: 420px) {
  .experience-container {
    margin: 2rem 0;
  }

  .experience-container h5 {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .experience-content {
    padding: 0 1rem;
  }

  .arrow {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    top: 45%;
  }

  .arrow-left {
    left: -0.5rem;
  }

  .arrow-right {
    right: -0.5rem;
  }
}
